<section class="projects" id="projects-section">
    <h2 class="projects__title title"><span class="highlight uppercase">Proyectos</span></h2>
    <div class="projects__container">
        <button class="projects__container__button is-active-button">Todos</button>
        <button class="projects__container__button">JavaScript</button>
        <button class="projects__container__button">C</button>
        <button class="projects__container__button">C#</button>
    </div>
    <div class="projects__box-container">
        <div class="box-project project-1">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
        <div class="box-project project-2">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
        <div class="box-project project-3">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
        <div class="box-project project-4">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
        <div class="box-project project-5">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
        <div class="box-project project-6">
            <div class="card__title">
                <h2>Project Description</h2>
              </div>
            <div class="card__proyect-links">
                <a href="#">
                    <i class="fab fa-github"></i>
                </a>
                <a href="">
                    <i class="fas fa-globe-asia"></i>
                </a>
            </div>
        </div>
    </div>
</section>