<footer class="footer">
    <h3 class="follow">Seguime</h3>
    <div class="container-list">
        <ul class="footer-list">
            <li class="footer-list-item"><a href="https://www.facebook.com/juan.sueldo.x/" target="blank"><i class='bx bxl-facebook icon highlight'></i></a></li>
            <li class="footer-list-item"><a href="https://www.instagram.com/juans_182/" target="blank"><i class='bx bxl-instagram icon highlight' ></i></a></li>
            <li class="footer-list-item"><a href="https://github.com/juansueldo" target="blank"><i class='bx bxl-github icon highlight' ></i></a></li>
            <li class="footer-list-item"><a href="https://www.linkedin.com/in/juan-sueldo/" target="blank"><i class='bx bxl-linkedin icon highlight' ></i></a></li>
        </ul>
    </div>
    <p>Gracias por visitar</p>
</footer>