<section class="about" id="about-section">
    <div class="about__container">
        <h2 class="about__container__title title"><span class="highlight uppercase">Sobre mi</span></h2>
        <img [src]="infoGithub?.avatar_url" class="avatar">
        <p class="about__container__title__text">Soy un desarrollador web y estudiante en la UTN, donde curso la carrera de Técnico en Sistemas Informáticos. Estoy comprometido en la mejora constante de mis habilidades y en la adquisición de nuevos conocimientos. Actualmente, mi enfoque se centra en el perfeccionamiento de mis habilidades y en la exploración de nuevas tecnologías. Mi experiencia actual se basa en PHP, y mi objetivo es ampliar mis conocimientos, ganar más experiencia y continuar aprendiendo.
        </p>
        <div class="container-btn">
            <button class="download reflect--black">Descargar<span class="highlight">CV</span></button>
        </div>
        <h2 class="about__container__title title">Habilidades</h2>
    </div>
    
    <div class="skill-container" *ngFor="let skill of skills">
        <app-skill-card [img]="skill.img" [name]="skill.name"></app-skill-card>
    </div>
</section>