<nav class="navbar  fixed-top header__navbar">
    <div class="container-fluid">
        <a href="#" class="header__navbar__logo">Juan <span class="header__navbar__logo__span--green" id="color">Sueldo</span></a>
        
      <button class="header__navbar__toggle-btn navbar-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" (click)="toggleButton()" [ngClass]="{'active': isToggled}">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="dropdown">
          <button type="button" class="btn header__navbar__toggle__close-btn navbar-toggler navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close">
            <span></span>
            <span></span>
            <span></span>
          </button>

          <ul>
            <li *ngFor="let item of items" class="nav-item dropdown">
              <a [ngClass]="{'isActive': item.title === activeItem}" routerLink="{{item.router}}" (click)="setActiveItem(item.title)" data-bs-dismiss="offcanvas" aria-label="Close">{{ item.title }}</a>
            </li>
          </ul>

    </div>
    </div>
    </div>
  </nav>