<nav class="navbar  fixed-top header__navbar">
    <div class="container-fluid">
        <a href="#" class="header__navbar__logo">Juan <span class="header__navbar__logo__span--green" id="color">Sueldo</span></a>
        
      <button class="header__navbar__toggle-btn navbar-toggler navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="dropdown">
        <li class="nav-item dropdown">
            <a routerLink="/home" class="header__navbar__menu__link is-active">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="/about" class="header__navbar__menu__link">Sobre mi</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="/projects" class="header__navbar__menu__link">Proyectos</a>
          </li>
          <li class="nav-item dropdown">
            <a routerLink="/contact" class="header__navbar__menu__link">Contacto</a>
          </li>
    </div>
    </div>
    </div>
  </nav>