.home {
    background: #18181d;
    height: 100vh;
  }
  
  .home__container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60% 40%;
  }
  
  .home__container__left__title {
    margin-top: 55px;
    text-align: center;
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: bold;
  }
  
  .uppercase {
    text-transform: uppercase;
    font-weight: 800;
  }
  
  .highlight {
    background: linear-gradient(50deg, #B4F00A, #00ccff);
    font-weight: bold;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  
  .home__container__left__container {
    display: flex;
    justify-content: center;
  }
  
  .box {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #18181d;
    overflow: hidden;
    transform: skewY(-1deg);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .box::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 500%;
    background: linear-gradient(#00ccff, #B4F00A);
    animation: animate 4s linear infinite;
  }
  
  .box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #fff;
    border-radius: 5px;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .box h1 {
    position: relative;
    color: #060708;
    font-size: 1em;
    font-weight: bold;
    z-index: 10;
  }
  
  .reflect {
    -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.3)));
  }
  
  .reflect--black {
    -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(235, 15, 15, 0.3)));
  }
  
  .home__container__right {
    display: flex;
    justify-content: center;
  }
  
  .home__container__right__cube {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animateCube 15s linear infinite;
  }
  
  @keyframes animateCube {
    0% {
      transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  .home__container__right__cube div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .home__container__right__cube div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#060708, #B4F00A);
    transform: rotateY(calc(90deg * var(--i))) translateZ(99px);
  }
  
  .home__container__right__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #222;
    transform: rotateX(90deg) translateZ(100px);
  }
  
  .home__container__right__top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: var(--green);
    transform: translateZ(-200px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 255, 0, 0.2), 0 0 200px rgba(0, 255, 0, 0.4), 0 0 300px rgba(0, 255, 0, 0.6), 0 0 400px rgba(0, 255, 0, 0.8), 0 0 450px rgb(0, 255, 0);
  }
  
  span img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }