<section class="home" id="home-section">
    <div class="home__container">
        <div class="home__container__left">
            <h1 class="home__container__left__title"><span class="highlight">hola, <br></span> soy Juan</h1>
            <div class="home__container__left__container">
                <div class="box reflect">
                    <h1>WEB <span class="highlight">DEVELOPER</span></h1>
                </div>
            </div>
        </div>
        <div class="home__container__right">
            <div class="home__container__right__cube">
            <div class="home__container__right__top"></div>
            <div>
                <span class="reflect" style="--i:0;"></span>
                <span class="reflect" style="--i:1;"></span>
                <span class="reflect" style="--i:2;"></span>
                <span class="reflect" style="--i:3;"></span>
            </div>
           </div> 
        </div>
    </div>
</section>